<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
    <packageSources>
		<clear />
  
           <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  
           <add key="myget yapa2" value="https://www.myget.org/F/yapa2/api/v3/index.json" />
  
    </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>